$contentBackground: fff;

$HeaderBackground: url(../img/m-h-day.jpg);

$width: auto;
$height: 500px;
$headerFontBg:#14A0C7;
$BorderRadius: 0 0 580px/220px 0;
$BackgroundPosition:center -190px;

$font-weights: ("regular": 400, "medium": 500, "bolder": 600, "bold": 700);
$logoFont: 'Source Sans Pro', sans-serif;

$Color1: #05050a;
$Color2: #14a0c7;
$Color3: rgb(192,195,206);
$Color4: rgb(44,47,60);
$Color5: rgb(33,35,46);
$BGColor: #333546;
$Color6:green;
$Color7:black;
$Gradient: linear-gradient(to right, rgb(101,149,15),rgb(47,94,206));