$contentBackground:#333546;

$HeaderBackground: url(../img/m-h-night.jpg);

$width: auto;
$height: 500px;
$headerFontBg: #14B0C8;
$BorderRadius: 0 0 580px/220px 0;
$BackgroundPosition: center -190px;

$font-weights: ("regular": 400, "medium": 500, "bolder": 600, "bold": 700);
$logoFont: 'Source Sans Pro', sans-serif;

$Color1: #fff;
$Color2: rgb(255,78,51);
$Color3: rgb(192,195,206);
$Color4: rgb(44,47,61);
$Color5: rgb(59,63,80);
$BGColor: #596380;
$Color6:rgb(227,172,0);
$COlor7:white;
$Gradient: linear-gradient(to right, rgb(222,164,5),rgb(146,44,82))